:root {
    --background: 30, 30, 30;
    --foreground: 100, 100, 100;
    --color: 200, 200, 200;
    --accent: #6A1B9A;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-family: 'Roboto', sans-serif;
}

body {
	box-sizing: border-box;
	background-color: rgb(var(--background));
	color: rgb(var(--color));
}